@mixin transition($props...) {
  transition: $props;
}

@mixin card-box($bg, $border-color, $radius: $radius) {
  background-color: $bg;
  border: 1px solid $border-color;
  border-radius: $radius;
}